*{
    margin: 0;

}

body{
    background-color: #282a36;
}

:root{
    --color_baackground:#282a36;
    --header_color:#16161b;

}

.logo_header{
    padding: 40px;
    width: 40px;
    display: flex;
    padding: 35px 0px;
}

.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

header{
    background-color: #16161b ;
}

.text,
.list{
    color: rgb(255, 0, 128);
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.text,
.list{
    background-color: #272727;
    border-radius: 10%;
    padding: 10px;
}

.navigation_header{
    display: flex;
    gap: 54px;
    align-items: center;
}
.list:hover{
    color: gold;
    transition: 0.6s;
}

.main_name{
    padding: 20px 15px;
    color: rgb(13, 236, 13);
    font-family: Arial, Helvetica, sans-serif;
}

.main_textos{
    padding: 10px 15px;
}

.titulo{
    color: rgb(204, 204, 87);
}

.textos{
    color: white;
    font-size: large;
    text-align: justify;
    padding: 10px;
}

.img_perfil{
    display: flex;
    margin: 20px;
    height: 320px;
    justify-content: end;
    padding: 0px 0px;
    float: right;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.389);
}

.img_perfil::before{
    content: '';
    position: absolute;
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid rgb(13, 236, 13) ;
    border-right: 20px solid rgb(13, 236, 13) ;
}

.link{
    padding: 10px;
}

.link a{
    color: rgb(255, 0, 128);
    text-decoration: none;
}

.calculadora{
    height: 60px;
    display: flex;
    padding: 10px 60px;
}

.imagens_footer{
    height: 40px;
}

footer{
    display: flex;
    justify-content:center;
    background-color: #16161b;
}

footer a{
    text-align: center;
    padding: 15px 15px 15px 15px;
    text-decoration: none;
}

footer .lnks_footer{
    display: flex;
}

footer p{
    color: rgb(255, 0, 128);
    margin: 15px 15px;
}

footer p:hover{
    color: gold;
    transition: 0.6s;
}

.menushow{
    display: none;
}

.menu-icon{
    display: none;
}

@media screen and (max-width:700px){
    .list{
        display: none;
    }

    .menu-icon{
        display: none;
    }

    .icon{
        display: none;
    }

    .menushow{
        display:flex;
        width: 40px;
    }
}
